header {
  padding: 1em 0;
}

.menu {
  text-transform: uppercase;

  a {
    padding: 0.4em 0.8em;
    margin-right: 0.2em;
    font-size: 0.9em;
    border-radius: 0.25em;
  }
}

.menu a:hover,
.menu a.selected {
  background: steelblue;
  color: white;
}

.title {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.subtitles {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 1.5em 0;
}

.social img {
  width: 2em;
  margin-right: 0.5em;
}

.logo {
  width: 6em;
}
